body{	
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:#222;
	font-size:80%;
	text-align:center;
	xpadding:10px;
}

a{
	color:#ddd;
}

#container{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -2;
}

#backdrop{
	position: absolute; 
	max-width:100%;

	left:50%;
	margin-right:50%;
	transform:translate(-50%, 0);


 
	margin-middle;
	-moz-box-shadow: 5px -5px 19px -1px #000;
	-webkit-box-shadow: 5px -5px 19px -1px #000;
	box-shadow: 5px -5px 19px -1px #000;


	z-index: 0;
}

#topbanner{
	position: absolute;
	max-width:100%;
	top:135px;
	left:50%;
	margin-right:50%;
	transform:translate(-50%, 0);
	-moz-box-shadow: 5px -5px 19px -6px #000;
	-webkit-box-shadow: 5px -5px 19px -6px #000;
	box-shadow: 5px -5px 19px -6px #000;
	z-index:1;
}

#sidemenu{
	position: absolute;
	max-width:100%;
	top:350px;
	right:50%;
	margin-right:420px;
	transform:translate(-50%, 0);
	-moz-box-shadow: 15px -5px 19px -1px #000;
	-webkit-box-shadow: 15px -5px 19px -1px #000;
	box-shadow: 15px -5px 19px -1px #000;
	z-index:1;
}
#topright{
	position: absolute;
	top:10px;
	left: 50%;
	margin-left: 750px;
	transform:translate(-50%, 0);
	-moz-box-shadow: 15px -5px 19px -1px #000;
	-webkit-box-shadow: 15px -5px 19px -1px #000;
	box-shadow: 15px -5px 19px -1px #000;
	z-index:-1;
}



#toptext{

	position: relative;
	color:white;
 	line-height: 75%;
	top: 15px;
	text-align:center;
	font-size:25px;
	z-index: 7;
}

#mainbody{
	position: absolute;
	color:white;

	left: 51%;	
	transform:translate(-45.2%, 0);
	width: 1325px;
	top: 250px;	
	height:1275px;

	overflow: scroll;
	z-index: 7;	
}

#topbuttons{
	position: absolute;
	text-align: center;
	left:50%;
	margin-left:-550px;
	word-spacing: 130px;
	font-size: 230%;
	color: ff0000; 
	top: 150px;
	font-weight:bold;
	z-index: 4;
}


#sidebuttons{
	position: absolute;
	color:white;

	right:50%;
	margin-right:620px;
	top:380px;
	width:300px;
 	line-height: 200%;
	z-index: 3;
	font-weight:bold;

	


}
#about{
	left:20%;
}


