body{	
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:#222;
	font-size:80%;
	text-align:center;
	xpadding:10px;
}

a{
	color:#ddd;
}

#container{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}

#backdrop{
	position: absolute; 
	width:100%; 
	margin-middle;
	z-index: 0;
}

#topbanner{
	position: absolute;
	width:100%; 
	margin-middle - 3px;	
	z-index:1;
}

#toptext{

	position: relative;
	color:white;
	text-align:center;
	font-size:24px;
	z-index: 7;
}

#mainbody{
	position: absolute;
	color:white;
	
	left:30%;
	top: 300px;	
	width:1267px;
	height:1225px;

	overflow: scroll;
	z-index: 7;	
}

#topbuttons{
	position: absolute;
	text-align: center;
	left: 30%;
	word-spacing: 130px;
	font-size: 230%;
	color: red; 
	top: 150px;

	z-index: 4;
}


#sidebuttons{
	position: absolute;
	color:white;

	left:22%;
	top:300px;
	width:175px;
 
	z-index: 3;

	border-style:solid;
	


}



